{% extends 'base_2col.html' %}

{% block page_title %}
Add article
{% endblock page_title %}

{% block left_column %}
<div class="bread-crumb">
  <a href="/article/">Article</a> &gt;
  Add
</div>

<p>&nbsp;</p>
{% if errors %}
<ul class="error">
  {% for error in errors %}
    <li>{{ error }}</li>
  {% endfor %}
</ul>
{% endif %}

<div class="article-edit">
  <form action="" method="POST">
    <label>Title:</label><br/>
    <input type="text" id="id_title" name="title" value="{{ title }}"><br/>
    <label>Content:</label><br/>
    <textarea id="id_content" name="content">{{ content }}</textarea><br/>
    <input type="submit" value="submit"/> <input type="reset"/>
  </form>
</div>
{% endblock left_column %}

{% block js_css %}
{{ block.super }}
<script type="text/javascript" src="/ckeditor/ckeditor.js"></script>
<script language="javascript">
  $(document).ready(function() {
    CKEDITOR.replace('id_content', {
    });
  
  });
</script>
{% endblock js_css %}
