<html>
<head>
  <title>Reset password</title>
  <style type="text/css">
    ul.error li {color: red;}
  </style>
</head>
<body>
  <div style="margin: 20px auto; width: 900px;">
    <h1>Reset password</h1>
    <ul class="error">
      {% for err in errors %}
      <li> {{ err }}</li>
      {% endfor %}
    </ul>
    <form action="" method="POST">
      <label>Email: </label><br/>
      <input type="email" name="email" value=""/><br/>
      <label>Password:</label><br/>
      <input type="password" name="password" value=""/> <br/>
      <label>Retype Password:</label><br/>
      <input type="password" name="password2" value=""/> <br/>
      <input type="submit" value="Change"/>
      <input type="reset"/>
    </form>
  </div>
</body>
